apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-list-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-list-app
  template:
    metadata:
      labels:
        app: todo-list-app
    spec:
      containers:
        - name: todo-list-app
          image: todo-list-app:latest
          ports:
            - containerPort: 3000
          env:
            - name: MYSQL_HOST
              value: "mysql"
            - name: MYSQL_USER
              value: "admin"
            - name: MYSQL_PASSWORD
              value: "example"
            - name: MYSQL_DB
              value: "todos"